* {
    border-style: border-box;
    margin: 0;
    
}

body {
    background-image: url(assets/anniversary-background-mobile.jpg);
    min-height: 100vh;
    background-size: cover;
}

.hero-title {
    margin: auto;
    padding-top: 3rem;
}

.hidden {
    display: none;
}


@media screen and (min-width: 1000px) {

    body {
        background-image: url(assets/anniversary-background-formated.jpg);
        background-size: cover;
    }
    

.hero-title {
    margin: auto;
    padding-top: 3rem;
    font-size: 4.5rem;
    width: 90vw;
    text-align: center;
}

.timer {
    margin: auto;
    padding-top: 16rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70vw;
}

.units {
    text-align: center;
    font-size: 2rem;
}

.number {
    font-size: 3.5rem;
    text-align: center;
}

.anniversary-day {
    display: flex;
    flex-direction: column;
}

.tag-line {
    margin: auto;
    text-align: center;
    padding-top: 16rem;
    font-size: 2.5rem;
    
}


}